@charset "utf-8";
/* CSS Document */

.navegacao { /* container geral */
	background: #1f448c;
	border-bottom: solid 1px #ffffff;
	box-shadow: 0px 6px 13px 0px rgba(5, 3, 5, 0.373);
	display: block;
	font-family: 'apex_newmedium';
	font-size: 1.4rem;
	height: 48px;
	letter-spacing: normal;
	line-height: 2rem;
	margin: 0 auto;
	max-height: 48px;
	max-width: 2000px;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	z-index: 200 !important;
}
.navegacao ul { /* container centralizado */
	display: flex;
	flex-wrap: wrap;
	float: none;
	justify-content: space-around;
	list-style: none;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 2%;
	padding-top: 4px;
	position: relative;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	-webkit-padding-start: 0;
	text-align: center;
	width: 100%;
	z-index: 2;
}
.navegacao ul li { /* item */
	display: inline-block;
	position: relative;
}
.navegacao ul li a { /* menu link */
	color: #ffffff;
	display: block;
	margin: 0;
	padding: 12px;
	position: relative;
	text-decoration: none;
}
.navegacao ul li:first-child a { /* retirando margem esquerda primeiro item */
	margin-left: 0 !important;
}
.navegacao ul li:last-child a { /* retirando margem direita ultimo item */
	margin-right: 0 !important;
}
.navegacao ul li a:hover,  /* menu link hover */
.navegacao ul li a:focus { /* menu link focus */
	color: #e91616;
}



/******************* menu mobile MODAL reset *******************/
.menu-mobile-open{overflow: hidden;}.menu-mobile {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1050;display: none;overflow: hidden;-webkit-overflow-scrolling: touch;outline: 0;}.menu-mobile.fade-menu-mobile.menu-mobile-dialog{-webkit-transition: -webkit-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out;-webkit-transform: translate(0, -25%);-ms-transform: translate(0, -25%);-o-transform: translate(0, -25%);transform: translate(0, -25%);}.menu-mobile.in.menu-mobile-dialog{-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);-o-transform: translate(0, 0);transform: translate(0, 0);}.menu-mobile-open .menu-mobile{overflow-x: hidden;overflow-y: auto;}.menu-mobile-dialog{position: relative;width: auto;margin: 0;}.menu-mobile-content {position: relative;background-color: transparent;-webkit-background-clip: padding-box;background-clip: padding-box;border: none;border: none;outline: 0;-webkit-box-shadow: none;box-shadow: none;}.modal-backdrop{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;background-color: #f8f8f8;}.menu-mobile-body,.menu-mobile-body .menu-movel,.menu-mobile-header,.menu-mobile-title{position:relative;z-index:1000}.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}.modal-backdrop.in{filter:alpha(opacity=50);opacity:.99}.menu-mobile-header{border-bottom:none;padding:20px;text-align:right}.modal-header .fechar{margin-top:-2px}.menu-mobile-title{line-height:1.42857143;margin:0}.menu-mobile-body{padding:0}.menu-mobile-footer{display:none;visibility:hidden}@media (min-width:768px){.menu-mobile-dialog{width:600px;margin:0}.menu-mobile-content{-webkit-box-shadow:none;box-shadow:none}.menu-mobile-sm{width:300px}}@media (min-width:992px){.menu-mobile-lg{width:900px}}
/******************* fim menu mobile MODAL reset *******************/

@media screen and (max-width: 885px) {
.navegacao ul li a { /* menu link */
	padding: 12px 6px;
}
}
@media screen and (max-width: 800px) {
.navegacao { /* menu link */
	font-size: 1.3rem;
}
}

/* RELATIVO A VERSAO MOVEL */
@media screen and (max-width: 767px) and (min-width: 176px) {
#nav-mobile {
	height: 40px;
	margin-right: .5rem;
	margin-top: 1.44rem;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px;
	z-index: 52;
}
#nav-mobile {
	position: fixed;
	z-index: 60;
}
.logo-mobile-menu {
	margin-top: 0.7857em;
	max-width: 179px;
}
/* botao fechar (menu) */
.fechar {
	max-width: 40px;
	position: absolute;
	right: .5em;
	top: 0px;
	width: 13%;
}
.fechar img {
	margin-right: .5em;
	margin-top: 1.44rem;
	width: 100%;
}
/* menu movel */
.menu-movel {
	list-style: none;
	margin-bottom: 0px;
	margin-top: 20px;
	padding-left: 0px;
	text-align: center;
}
.menu-movel li a {
	color: #003367;
	font-family: 'apex_newmedium';
	font-size: 2.3rem;
	display: block;
	letter-spacing: -.02rem;
	line-height: 4rem;
	margin-top: .2rem;
	padding: .01rem 1rem;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.11);
	vertical-align: middle;
}
.menu-movel li a:hover {
	background: #e91616;
	color: #ffffff;
	text-decoration: none;
}
}

<!-- modal menu movel-->
.menu-mobile{padding-left: 0 !important;padding-right: 0 !important;}
/* *******************************************************************
                             home e internas
**********************************************************************/

/*   pagina home em principal.css    */

/* **********************************
          pagina institucional
*************************************/
.pg-institucional .navegacao ul li .menu-institucional {
	color: #e91616;
}
.pg-institucional .menu-movel li .menu-institucional {
	background: #e91616;
	color: #ffffff;
	pointer-events: none;
}
/* **********************************
          pagina segmentos
*************************************/
.pg-segmentos .navegacao ul li .menu-segmentos {
	color: #e91616;
}
.pg-segmentos .menu-movel li .menu-segmentos {
	background: #e91616;
	color: #ffffff;
	pointer-events: none;
}
/* **********************************
          pagina projetos
*************************************/
.pg-projetos .navegacao ul li .menu-projetos {
	color: #e91616;
}
.pg-projetos .menu-movel li .menu-projetos {
	background: #e91616;
	color: #ffffff;
	pointer-events: none;
}
/* **********************************
          pagina noticias
*************************************/
.pg-noticias .navegacao ul li .menu-noticias {
	color: #e91616;
}
.pg-noticias .menu-movel li .menu-noticias {
	background: #e91616;
	color: #ffffff;
	pointer-events: none;
}
/* **********************************
       pagina galeria de fotos
*************************************/
.pg-fotos .navegacao ul li .menu-fotos {
	color: #e91616;
}
.pg-fotos .menu-movel li .menu-fotos {
	background: #e91616;
	color: #ffffff;
	pointer-events: none;
}
/* **********************************
     pagina blog dos professores
*************************************/
.pg-blog .navegacao ul li .menu-blog {
	color: #e91616;
}
.pg-blog .menu-movel li .menu-blog {
	background: #e91616;
	color: #ffffff;
	pointer-events: none;
}
/* **********************************
        pagina portal do aluno
*************************************/
.pg-portal .navegacao ul li .menu-portal {
	color: #e91616;
}
.pg-portal .menu-movel li .menu-portal {
	background: #e91616;
	color: #ffffff;
	pointer-events: none;
}
/* **********************************
       pagina fale conosco
*************************************/
.pg-fale .link-fale {
	display: none;
	visibility: hidden;
}
.pg-fale .menu-movel li .menu-fale {
	background: #e91616;
	color: #ffffff;
	pointer-events: none;
}
